<h1>{{title}}</h1>
{{ userlist | json }}
<div *ngIf="(userlist | json) !== '[]'">
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userlist.data">
            <th scope="row">{{user.id}}</th>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
        </tr>
        </tbody>
    </table>
</div>
