<form>
  <div class="form-control">
    <div class="form-group row">
      <label for="serviceName">Nome:</label>
      <div class="col-10">
        <input class="form-control" type="input" name="name" id="serviceName"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="serviceCategory">Categoria:</label>
      <div class="col-10">
        <input class="form-control" type="input" name="category" id="serviceCategory"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="serviceDescription">Descrição:</label>
      <div class="col-10">
        <input class="form-control" type="input" name="description" id="serviceDescription"/>
      </div>
    </div>
    <div class="row col-10">
      <button class="btn btn-primary" (click)="save()">Salvar</button>
    </div>
  </div>

</form>

