<h2>{{baseTitle}}</h2>
<div *ngIf="userlist !== null && user == null">
    <app-pagination *ngIf="userlist !==null"
                    [current_page]="userlist.current_page"
                    [last_page]="userlist.last_page"
                    [url]="url">
    </app-pagination>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Login</th>
            <th>Visualizar</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userlist.data">
            <th scope="row">{{user.id}}</th>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.login}}</td>
            <td>
                <a [routerLink]="['/users/details/', user.id]">
                    <span class="fa fa-eye" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <app-pagination *ngIf="userlist !==null"
                    [current_page]="userlist.current_page"
                    [last_page]="userlist.last_page"
                    [url]="url">
    </app-pagination>
</div>


