<input [(ngModel)]="asyncSelected"
       [typeahead]="dataSource"
       (typeaheadLoading)="changeTypeaheadLoading($event)"
       (typeaheadNoResults)="changeTypeaheadNoResults($event)"
       (typeaheadOnSelect)="typeaheadOnSelect($event)"
       typeaheadOptionsLimit="7"
       typeaheadOptionField="name"
       placeholder="Digite o nome do usuário"
       data-toggle="modal"
       data-target="#exampleModal"
       class="form-control col-3">
<button *ngIf="btnDisable===true" class="btn btn-info disabled"> Visualizar </button>
<button *ngIf="btnDisable===false" class="btn btn-info"> Visualizar </button>
<div *ngIf="typeaheadLoading===true">
    <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
</div>
<div *ngIf="typeaheadNoResults===true" class="" style="">
    <i class="glyphicon glyphicon-remove"></i> Nenhum usuário encontrado
</div>

<app-user-list *ngIf="user!==null" [user]="user">
</app-user-list>
