<h1>{{title}}</h1>
<app-domain-list></app-domain-list>
<h2>Grupos: {{domain | uppercase}}</h2>
<div *ngIf="(grouplist | json) != '{}'">
    <ng-template #nextdisabled>
        <li class="disabled page-item"><a class="page-link">Próxima</a></li>
    </ng-template>
    <ng-template #prevdisabled>
        <li class="disabled page-item"><a class="page-link">Anterior</a></li>
    </ng-template>
    <nav aria-label="Page navigation" class="offset-3">
        <ul class="pagination">
            <li *ngIf="grouplist.current_page > 1" class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, 1]">Início</a>
            </li>
            <li *ngIf="grouplist.current_page > 1; else prevdisabled" class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, (grouplist.current_page - 1)]">Anterior</a>
            </li>
            <li class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, grouplist.current_page]">
                    {{grouplist.current_page}}
                </a>
            </li>
            <li *ngIf="grouplist.current_page+1  <= grouplist.last_page" class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, grouplist.current_page+1]">
                    {{grouplist.current_page +1}}
                </a>
            </li>
            <li *ngIf="grouplist.current_page+2  <= grouplist.last_page" class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, grouplist.current_page+2]">
                    {{grouplist.current_page +2}}
                </a>
            </li>
            <li *ngIf="grouplist.current_page+2 < grouplist.last_page; else nextdisabled" class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, (grouplist.current_page + 1)]">Próxima</a>
            </li>
            <li *ngIf="grouplist.current_page+2 < grouplist.last_page" class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, (grouplist.last_page)]">Fim</a>
            </li>
        </ul>
    </nav>
    <table class="table groups">
        <tr *ngFor="let group of grouplist.data"
            [class.selected]="group === selectedGroup"
            (click)="onSelect(group)">
            <td><span class="badge">{{group.id}}</span> {{group.name}}</td>
        </tr>
    </table>
    <nav aria-label="Page navigation" class="offset-3">
        <ul class="pagination">
            <li *ngIf="grouplist.current_page > 1" class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, 1]">Início</a>
            </li>
            <li *ngIf="grouplist.current_page > 1; else prevdisabled" class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, (grouplist.current_page - 1)]">Anterior</a>
            </li>
            <li class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, grouplist.current_page]">
                    {{grouplist.current_page}}
                </a>
            </li>
            <li *ngIf="grouplist.current_page+1  <= grouplist.last_page" class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, grouplist.current_page+1]">
                    {{grouplist.current_page +1}}
                </a>
            </li>
            <li *ngIf="grouplist.current_page+2  <= grouplist.last_page" class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, grouplist.current_page+2]">
                    {{grouplist.current_page +2}}
                </a>
            </li>
            <li *ngIf="grouplist.current_page+2 < grouplist.last_page; else nextdisabled" class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, (grouplist.current_page + 1)]">Próxima</a>
            </li>
            <li *ngIf="grouplist.current_page !== grouplist.last_page" class="page-item">
                <a class="page-link" [routerLink]="['/groups', domain, (grouplist.last_page)]">Fim</a>
            </li>
        </ul>
    </nav>
</div>
