<main class="jumbotron">
    <div class="row"></div>
    <h1 class="col-6 col-sm-3 offset-3">Dashboard</h1>
    <section class="row text-center placeholders">
        <div class="col-6 col-sm-3 placeholder alert alert-info rounded">
            <h4>Domínios</h4>
            <div class="text-muted">
                <span class="btn btn-outline-info">
                    <a [routerLink]="['/domains']">Listar</a>
                </span>
            </div>
        </div>
        <div class="col-6 col-sm-3 placeholder alert alert-info rounded">
            <h4>Grupos</h4>
            <div class="text-muted">
                <span class="btn btn-outline-info">
                    <a [routerLink]="['/groups', 'lugbrz', 1]">Listar</a>
                </span>
            </div>
        </div>
        <div class="col-6 col-sm-3 placeholder alert alert-info rounded">
            <h4>Usuários</h4>
            <div class="text-muted">
                <span class="btn btn-outline-info">
                    <a [routerLink]="['/users/list', 1]">Listar</a>
                </span>
            </div>
        </div>
        <div class="col-6 col-sm-3 placeholder alert alert-info rounded">
            <h4>Serviços</h4>
            <div class="text-muted">
                <span class="btn btn-outline-info">
                    <a [routerLink]="['/services/list', '1', 1]">Listar</a>
                </span>
            </div>
        </div>
    </section>
</main>